
#eachDivCatalog{
    width: 90%;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    max-height:360px;
    margin: 5px auto;
}
#photoInsideCatalogItem{
    position: relative;
    width: 100%;
    border-radius: 10px;
}
#textInsideCtalogItem{
    position: absolute;
    bottom: 0;
    left: 17%;
    color: rgb(255, 255, 255);
    font-style:inherit;
    font-weight: bold;
}