#imgOrder{
    width: 100px;
    height: 100px;
}
#orderIdText{
    top: 40px;
    right: 100px;
}
#orderPriceText{
    top: 71px;
    right: 132px;
}
#typeDiv{
    font-size: 20px;
    margin: 19px;
}
#photoDiv{
    margin: 30px;
}
#quantityCart{
    position: absolute;
        width: 51px;
        height: 41px;
        text-align: center;
        right: 26px;
        bottom: 5px;
    }
    #titleOfCart{
        position: relative;
        font-size: 14px;
        top: 10px;
        right: 40px;
        }

        #imgOrderCart {
            width: 61px;
            height: 55px;
            border: 2px solid black;
            padding: 2px;
            border-radius: 5px;
        }
        #deleteButton{
            position: absolute;
            right: 25px;
            top: 25px;
            color: #fff;
            background-color: #000000;
            border-color: #ffffff;
            font-size: 20px;
        }
        #priceCart{
            font-size: 17px;
            position: relative;
            right: 40px;
        }
        #cartButton{
            position: absolute;
            right: 20px;
            top: 75px;
            color: #fff;
            background-color: #000000;
            border-color: #ffffff;
            font-size: 20px;
        }
        #titleOfWish {
            position: relative;
            max-width: 250px;
            font-size: 14px;
            width: 150px;
            top: 5px;
            right: 42px;
        }
        #priceWish {
            font-size: 17px;
            position: relative;
            top: -8px;
            right: 42px;
        }