#profileItem{ 
    list-style: none;
    border: 1px solid #000;
    width: 90vw;
    text-align: center;
    margin: 5px auto;
    max-width: 600px;
min-width: 375px;
}
#profileImg{
    width: 300px;
    height: 195px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    max-width: 450px;
}
#profileTittle{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
#profilePrice{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#ulListItems{
    min-width: 375px;
    text-align: center;
    margin: auto;
    padding: 0;  
}
#buttonAddToCart{
    margin: 5px;
    background-color: black;
    border: 1px solid;
    color: #fff;
}
#buttonsSort{
    margin: 5px;
    border-radius: 10px;
    height: 50px;
    background: black;
    color: white;
    border: solid 1px;
}